:root {
  --box-shadow: 5px 5px 5px #ddd;
  --primary-color: #082f49;
  --secondary-color: #d97706;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: 0.2s;
}

body {
  font-family: sans-serif;
}

ul,
li {
  list-style: none;
}

li,
button,
h3,
h4,
img {
  cursor: pointer;
}

li:hover,
button:hover,
h3:hover,
h4:hover,
img:hover {
  color: var(--secondary-color) !important;
}

p {
  color: rgb(94, 94, 94);
}

.container {
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 1fr 5fr;
  height: 100vh;
  /* overflow: scroll; */
}

#side-bar {
  background-color: var(--primary-color);
  grid-column: 1;
  grid-row: 1 / 5;
  color: white;
  padding: 30px;
}

#side-bar #title {
  display: flex;
  align-items: center;
  gap: 10px;
}

#side-bar #logo {
  width: 40px;
}

#side-bar ul {
  margin-top: 50px;
}
#side-bar ul li {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 15px;
}

#side-bar ul img {
  width: 20px;
  color: white;
}

header {
  grid-column: 2 / 5;
  padding: 40px 40px 20px;
  box-shadow: var(--box-shadow);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 40px;
  z-index: 1;
}

#main-header {
  display: flex;
  justify-content: space-between;
}

#search-bar {
  flex-grow: 1;
  display: flex;
  align-items: center;
  gap: 10px;
}

#search-icon {
  width: 30px;
}

#search-field {
  outline: none;
  border-radius: 15px;
  border: none;
  height: 36px;
  width: 85%;
  background-color: #eee;
  border: 1px solid #eee;
  padding-left: 20px;
}

#search-field:focus {
  border: 1px solid var(--secondary-color);
}

#user-div {
  display: flex;
  align-items: center;
  gap: 30px;
}

#user-div img {
  width: 30px;
}

#profile-img-sm {
  border-radius: 50%;
}

#secondary-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#secondary-header button {
  padding: 0 24px;
  height: 36px;
  border-radius: 18px;
  border: none;
  background-color: var(--primary-color);
  color: white;
  margin-left: 15px;
}

#greet {
  display: flex;
  align-items: center;
  gap: 20px;
}

#profile-img-lg {
  width: 70px;
  border-radius: 50%;
}

main {
  padding: 40px;
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 20px;
  background-color: #eee;
  height: 100%;
}

main > div {
  display: flex;
  flex-direction: column;
}

.sub-title {
  margin: 0 10px 10px;
  display: inline-block;
}

article {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
  flex-grow: 1;
}

.card {
  border-radius: 16px;
  box-shadow: var(--box-shadow);
  border-left: 5px solid var(--secondary-color);
  padding: 30px 20px;
  display: grid;
  gap: 16px;
  background-color: white;
  grid-template-rows: 1fr 4fr 1fr;
}

.icons {
  align-self: end;
  display: flex;
  gap: 12px;
  justify-self: end;
}

.card .icon {
  width: 24px;
}

main section {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  gap: 30px;
}

#announcement {
  border-radius: 16px;
  box-shadow: var(--box-shadow);
  display: flex;
  gap: 12px;
  flex-direction: column;
  padding: 30px 20px;
  background-color: white;
}

#announcement h4 {
  margin-bottom: 6px;
}

#trending {
  border-radius: 16px;
  box-shadow: var(--box-shadow);
  display: flex;
  gap: 30px;
  flex-direction: column;
  padding: 30px 20px;
  background-color: white;
}

.trend {
  display: flex;
  align-items: center;
  gap: 16px;
}

.trend img {
  width: 50px;
  border-radius: 50%;
}
